@font-face{
    font-family: 'XanhMono-Regula';
    src: url(./Fonts/Xanh_Mono/XanhMono-Regular.ttf);
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Roboto-Light';
    src: url(./Fonts/Roboto/Roboto-Light.ttf);
}