@import url(./reset.css);
@import url(./fonts.css);

body {
    box-sizing: border-box;
    font-family: "Banhij-Sultannahia";
}

#conteiner {
    width: 1440px;
    height: 600px;
    background: white;
}

.menu {
    width: 450px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;
}

.nav-menu {
    text-decoration: none;
    font-family: "Banhij-Sultannahia";
    font-size: 24px;
    line-height: 33px;
    color: black;
    transition: 0.7s;
}

.nav-menu:hover {
    color: #2785f7;
}

.active {
    color: #2785f7;
}


.content-block {
    width: 1050px;
    height: 480px;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    background: silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block-left {
    width: 100px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -10px;
}


.left-block {
    width: 80px;
    height: 290px;
    background: white;
    border-radius: 25px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.icons {
    width: 50%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}

a.icons::after {
    content: '';
    box-sizing: border-box;
    width: 0;
    position: absolute;
    height: 40px;
    padding-left: 30%;
    background: #2785f7;
    top: 0;
    color: black;
    left: 30px;
    transition-property: width;
    transition-duration: .9s;
    visibility: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.txtP::after {
    content: 'Projeck';
    display: flex;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transition: 0.7s;
}

a.txtA::after {
    content: 'Account';
    display: flex;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transition: 0.7s;


}

a.txtG::after {
    content: 'Groups';
    display: flex;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transition: 0.7s;
}

a.txtC::after {
    content: 'Cloud';
    display: flex;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transition: 0.7s;
}

a.txtS::after {
    content: 'Setting';
    display: flex;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transition: 0.7s;
}

a.icons:hover::after {
    width: 180%;
    cursor: pointer;
    visibility: visible;
    color: white;
    opacity: 1;


}

.icons:hover {
    background: #2785f7;
}

.icons:hover i {
    color: white;
}

.active-bar {
    background: #2785f7;
}

.active-bar i {
    color: white;
}

i {
    color: black;
    font-size: 25px;
}

.box-content {
    width: 925px;
    height: 450px;
    display: flex;
    justify-content: space-between
}

.block-one {
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-top {
    width: 405px;
    height: 100px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;

}

.item-bootom {
    width: 405px;
    height: 340px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-two {
    width: 500px;
    height: 450px;
}

.item-right {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;


}

.red-bg {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 25px;
    margin-left: 15px;

}

.text-content {
    margin-left: 15px;
}

h1 {
    font-size: 25px;
}

p {
    font-family: 'ChronicaPro-Regular';
    font-size: 12px;
    color: #b1b1b1;

}

.title {
    width: 400px;
    height: 80px;
    display: flex;
    margin-top: 20px;

}

.title-2 {
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.blue-bg, .orange-bg {
    width: 50px;
    height: 50px;
    background: #2785f7;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.orange-bg {
    background: orange;
}

.blue-bg i, .orange-bg i {
    color: white;
    font-size: 30px;

}

.title-form1, .title-form2, .title-form3 {
    padding: 8px 0 8px 0;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.form1 {
    margin-top: -10px;
}

input[type='password'] {
    font-size: 10px;
    font-weight: bold;
    width: 330px;
    height: 30px;
    border: 1px darkgrey solid;
    border-radius: 10px;
    outline: none;
    transition: .5s;
    padding-left: 5px;
    -webkit-box-shadow: 6px 15px 15px -7px #000000;
    box-shadow: 6px 7px 10px -7px #000000;
}

input[type=password]:focus {
    border-right: 10px;
    border: 1px solid #2785f7;
}

.sub-1 {
    border-radius: 10px;
    border: 1px #2785f7 solid;
    width: 100px;
    height: 33px;
    background: #2785f7;
    color: white;
    outline: none;
    margin: 15px 0 0 240px;
}

.bootom-wrap {
    display: flex;
    justify-content: space-around;
}

.bootom-forms {
    font-size: 10px;
    font-weight: bold;
    width: 210px;
    height: 30px;
    border: 1px darkgrey solid;
    border-radius: 10px;
    outline: none;
    transition: .5s;
    padding-left: 5px;
    -webkit-box-shadow: 6px 15px 15px -7px #000000;
    box-shadow: 6px 7px 10px -7px #000000;
}

textarea {
    resize: none;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px darkgrey solid;
    border-radius: 10px;
    outline: none;
    transition: .5s;
    padding: 5px 0 0 5px;
    -webkit-box-shadow: 6px 15px 15px -7px #000000;
    box-shadow: 6px 7px 10px -7px #000000;
}

.body-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.one-row {
    width: 460px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    border: 1px darkgrey solid;
    border-radius: 10px;
    outline: none;
    transition: .5s;
    padding-left: 5px;
    -webkit-box-shadow: 6px 15px 15px -7px #000000;
    box-shadow: 6px 7px 10px -7px #000000;
}

.one-row:focus, textarea:focus, .bootom-forms:focus {
    border: 1px solid #2785f7;
}

.sub-2 {
    border-radius: 10px;
    border: 1px #2785f7 solid;
    width: 100px;
    height: 33px;
    background: #2785f7;
    color: white;
    outline: none;
    margin: 15px 0 0 380px;
}




