@font-face {
    font-family: 'Libre Baskerville-Bold';
    src: url(./fonts/LibreBaskerville-Bold.ttf);
}
@font-face{
    font-family:'Libre Baskerville-Italic' ;
    src: url(./fonts/LibreBaskerville-Italic.ttf);
}
@font-face{
    font-family:'Libre Baskerville-Regulg ';
    src: url(./fonts/LibreBaskerville-Regular.ttf);
}