@font-face {
    font-family: "Poppins-Medium";
    src: url("./font/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("./font/Poppins/Poppins-Regular.ttf");
}