@import url(reset.css);
@import url(fonts.css);

header {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.big-container {
    width: 1145px;
    height: 2682px;
    margin: 0 auto;
}

/* ----------ONE ROW-------- */
.img-title {
    width: 157px;
    height: 30px;
    background: url(../image/img-title.png) no-repeat;
}

.two-big-img {
    height: 570px;
    display: flex;
    justify-content: center;
    color: white;

}

.one-img {
    width: 720px;
    background: url(../image/philip-martin-5aGUyCW_PJw-unsplash.png)
}

.two-img {
    width: 720px;
    background-color: black;
}

.box-tex-cont {
    margin: 110px 110px 151px 110px;
    width: 500px;
    height: 310px;
}

.title-box-cont {
    width: 503px;
    height: 42px;
    margin-top: 66px;
    font-family: 'Kanit-Medium';
    font-size: 28px;
    letter-spacing: 0.4px;
    line-height: 42px;
    font-style: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.txt-box-cont {
    width: 503px;
    height: 42px;
    margin-top: 29px;
    font-family: 'Kanit-Light';
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
}

.bottom-box-cont {
    margin-top: 54px;
}

.bt-title {
    width: 198px;
    height: 55px;
    font-size: 12px;
    line-height: 18px;
    background: black;
    color: white;
    border: 1px solid white;
}

/* ------end one row------ */

/*------nav menu--------*/

#menu-togle {
    opacity: 0;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 170px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #616161;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}


.menu-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    visibility: hidden;
    top: 100px;
    padding: 40px 0 0 0;
    width: 344px;
    height: 359px;
    margin: 0 0 0 170px;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

}

.menu-item {
    display: block;
    padding: 12px 50px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Kanit-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

#menu-togle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}

#menu-togle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu-togle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-togle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
}


/*---------end nav menu------------*/
.title-ha {
    margin: 59px 0 30px 0;
    font-size: 18px;
    font-family: 'Kanit-Regular';
}

.title-ha2 {
    margin: 70px 0 21px 0;
    font-size: 18px;
    font-family: 'Kanit-Regular';
}

.title-ha3 {
    margin: 53px 0 28px 0;
    font-size: 18px;
    font-family: 'Kanit-Regular';
}

.img-one-post {
    width: 557px;
    height: 368px;
    background: url(../image/2.png)
}

.img-two-post {
    width: 557px;
    height: 368px;
    background: url(../image/3.png)
}

.two-post-content {
    display: flex;
    justify-content: space-between;
}

.date-img-text {
    height: 21px;
    font-family: 'Kanit-Regular';
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 26px 0 26px 0;
    font-size: 12px;
}

.title-text {
    font-family: 'Kanit-Medium';
    font-size: 24px;
    line-height: 36px;
    margin: 26px 0 26px;
}

.title-text-def {
    font-family: 'Kanit-Medium';
    font-size: 24px;
    line-height: 36px;
    margin: 34px 0 19px;
}

.text-cont {
    font-family: 'Kanit-Light';
    font-size: 18px;
    line-height: 27px;
}

.space {
    letter-spacing: 7px;
    font-size: 14px;
    line-height: 21px;
}

.marg-top1 {
    margin-top: 18px;
}

.marg-top2 {
    margin-top: 12px;
}

.marg-top3 {
    margin-top: 19px;
}

.deco-line {
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.deco-lineB {
    font-size: 16px;
    line-height: 24px;
    color: black;
}


.one-post, .two-post {
    width: 559px;
    height: 590px;
}

.three-post-content {
    width: 1143px;
    height: 327px;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.three-interviews-content {
    width: 1143px;
    height: 327px;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.three-news-content {

    width: 1143px;
    height: 327px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.text-bootom-post {
    margin-top: 29px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Kanit-Medium';
}

.text-bootom-post1 {
    margin-top: 22px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Kanit-Medium';
}

/*-----add Images-----*/
.one-smoll-img, .two-smoll-img, .three-smoll-img,
.one-interviews-img, .two-interviews-img, .three-interviews-img,
.one-news-img, .two-news-img, .three-news-img {
    width: 362px;
    height: 240px;
}

.one-smoll-img {
    background: url(../image/img-1.png);
}

.one-interviews-img {
    background: url(../image/4.png);
}

.one-news-img {
    background: url(../image/7.jpg);
}

.two-smoll-img {
    background: url(../image/img-2.png);
}

.two-interviews-img {
    background: url(../image/5.png);
}

.two-news-img {
    background: url(../image/8.jpg);
}

.three-smoll-img {
    background: url(../image/img-3.png);
}

.three-interviews-img {
    background: url(../image/6.png);
}

.three-news-img {
    background: url(../image/9.jpg);
}

.date-smoll-text {
    font-family: 'Kanit-Regular';
    display: flex;
    justify-content: space-between;
}

.num-one-bottom {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}
button{
        font-family: 'Kanit-Regular';

}

.baton {
    width: 238px;
    height: 42px;
    background-color: black;
    color: white;
    font-size: 14px
}

.baton-marg1 {
    margin-top: 63px;

}

.baton-marg2 {
    margin-top: 38px;

}

.baton-marg3 {
    margin-top: 32px;

}

.baton-blak {
    width: 198px;
    height: 42px;
    border: 1px solid white;
    color: white;
    background: black;
    margin-right: 3px;
    margin-top: 6px;
}

.two-title-post {
    width: 100%;
    height: 360px;
    margin-top: 106.88px;
    display: flex;
    justify-content: space-between;
}

.one-img-title-post {
    width: 571.5px;
    height: 360px;
    background: url(../image/big-1.png);
}

.two-img-title-post {
    width: 571.5px;
    height: 360px;
    background-color: black
}

.box-txt-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.data-year {
    color: white;
    font-family: 'Kanit-Medium';
    font-size: 34px;
    margin: 124px 148.5px 20px 107px;

}

/*----------------footer-----*/
footer {
    width: 100%;
    height: 142px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.foter-image {
    width: 142px;
    height: 27px;
    background: url(../image/footer.png) no-repeat;
}

.desing {
    width: 97px;
    height: 18px;
    margin-top: 120px;
        font-family: 'Kanit-Light';

    font-size: 12px;
    position: absolute;
    color: white
}
